<div class="row">
  <div class="col-xs-12">
    <h3>Labels</h3>
    <table class="table">
      <tbody>
        <% @labels.each do |label| %>
          <tr>
            <%= render label %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>New Label</h3>
    <%= form_for(Label.new) do |f| %>
      <%= f.text_field :name %>
      <%= f.select(:colour, Label.colours.keys.map {|colour| [colour.titleize, colour]}) %>
      <%= f.submit 'Update label', :class => 'button-xs' %>
    <% end %>
  </div>
</div>